<h1>New Camper Form</h1>

<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
        <li><%= error %></li>
    <% end %>
<% end %>

<%= form_for @camper do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %>
    <%= f.select :age, (8..18)%>
    <br>
    <%= f.submit %>
<% end %>